Repository DeveloperAcademy-POSTECH/2025-C4-A12-Pision, pull requests merged in 2025-07, with the labels that each got.

#4 [FEAT] 메인뷰 UI 구현
  Pision/Pision/Source/Feature/Main/MainView.swift
Labels: ✨ Feat, ☝🏻 iL

#13 [FEAT] 커스텀 카메라 뷰, 타이머 기능 구현
  Pision/Pision.xcodeproj/project.pbxproj
  Pision/Pision/Source/App/PisionApp.swift
  Pision/Pision/Source/Core/Data/Enum/Enum + TimerState.swift
  Pision/Pision/Source/Core/MLModel/pisionModel.mlmodel
  Pision/Pision/Source/Feature/Measure/Manager/CameraManager.swift
  Pision/Pision/Source/Feature/Measure/Manager/MLManager.swift
  Pision/Pision/Source/Feature/Measure/Manager/VisionManager.swift
  Pision/Pision/Source/Feature/Measure/View/CameraView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureSheetView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureView.swift
  Pision/Pision/Source/Feature/Measure/ViewModel/MeasureViewModel.swift
  Pision/Pision/Source/Feature/Record/View/RecordView.swift
  Pision/Pision/Source/Feature/Record/ViewModel/RecordViewModel.swift
Labels: ✨ Feat, ☝🏻 iL

#19 [REFACTOR] 접근제어자 접근 수준 수정했습니데이~
  Pision/Pision/Source/Feature/Measure/View/MeasureToggleButtonView.swift
  Pision/Pision/Source/Feature/Measure/ViewModel/MeasureViewModel.swift
Labels: 🔧 Refactor, ☝🏻 iL

#22 [FEAT] 측정뷰 추가 UI 구현
  Pision/Pision/Resource/Assets.xcassets/GradientGray.colorset/Contents.json
  Pision/Pision/Source/Feature/Measure/View/MeasureSheetView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureView.swift
Labels: ✨ Feat, ☝🏻 iL

#27 [FEAT] 미치광이 수학자 여성일의 레전드 집중도 측정 알고리즘 구현
  Pision/Pision/Source/Core/Data/Enum/Enum + ModelLabel.swift
  Pision/Pision/Source/Core/Data/Model/AuxScoreModel.swift
  Pision/Pision/Source/Core/Data/Model/CoreScoreModel.swift
  Pision/Pision/Source/Feature/Measure/Manager/MLManager.swift
  Pision/Pision/Source/Feature/Measure/Manager/VisionManager.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureSheetView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureView.swift
  Pision/Pision/Source/Feature/Measure/ViewModel/MeasureViewModel.swift
  Pision/Pision/Source/Utilities/Extension/Extension + CGPoint.swift
  Pision/Pision/Source/Utilities/Extension/Extension + Float.swift
  Pision/Pision/Source/Utilities/Manager/CameraManager.swift
  Pision/Pision/Source/Utilities/Manager/MLManager.swift
  Pision/Pision/Source/Utilities/Manager/VisionManager.swift
Labels: ✨ Feat, ☝🏻 iL

#29 [FEAT] 데이터 처리해서 SwiftData에 저장하는 기능 구현 + 부가기능 추가 구현 (런도를 향한 나의 마음💛)
  Pision/Pision/Source/App/PisionApp.swift
  Pision/Pision/Source/Core/Data/Enum/Enum + SaveResult.swift
  Pision/Pision/Source/Core/Data/Model/AuxScoreModel.swift
  Pision/Pision/Source/Core/Data/Model/AvgAuxScoreModel.swift
  Pision/Pision/Source/Core/Data/Model/AvgCoreScoreModel.swift
  Pision/Pision/Source/Core/Data/Model/CoreScoreModel.swift
  Pision/Pision/Source/Core/Data/Model/TaskDataModel.swift
  Pision/Pision/Source/Core/Data/SwiftDataModel/AvgAuxScore.swift
  Pision/Pision/Source/Core/Data/SwiftDataModel/AvgCoreScore.swift
  Pision/Pision/Source/Core/Data/SwiftDataModel/TaskData.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureSheetView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureView.swift
  Pision/Pision/Source/Feature/Measure/ViewModel/MeasureViewModel.swift
  Pision/Pision/Source/Utilities/Extension/Extension + CGPoint.swift
  Pision/Pision/Source/Utilities/Extension/Extension + Float.swift
  Pision/Pision/Source/Utilities/Extension/Extension + Int.swift
  Pision/Pision/Source/Utilities/Manager/CameraManager.swift
  Pision/Pision/Source/Utilities/Manager/MLManager.swift
  Pision/Pision/Source/Utilities/Manager/ScoreManager.swift
  Pision/Pision/Source/Utilities/Manager/SwiftDataManager.swift
  Pision/Pision/Source/Utilities/Manager/VisionManager.swift
Labels: ✨ Feat, ☝🏻 iL

#46 [FEAT] 가이딩 뷰 hi-fi 입혔습니다~
  Pision/Pision/Source/Core/Data/Enum/Enum + GuidingPoseCaptionItems.swift
  Pision/Pision/Source/Feature/Guiding/GuidingCameraView.swift
  Pision/Pision/Source/Feature/Guiding/GuidingPoseView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureGuideView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureStartModalView.swift
Labels: ✨ Feat, ☝🏻 iL

#51 Feature/37 history view
  Pision/Pision/Source/Feature/History/CalendarView.swift
  Pision/Pision/Source/Feature/History/CustomTabBar/MainTabView.swift
  Pision/Pision/Source/Feature/History/FixedOverListView.swift
  Pision/Pision/Source/Feature/History/HistoryRowView.swift
  Pision/Pision/Source/Feature/History/HistoryView.swift
Labels: ✨ Feat, 🐤 Paduck

#52 [FEAT] 밝기 구현
  Pision/Pision/Source/Feature/Measure/View/MeasureRecordView.swift
  Pision/Pision/Source/Feature/Measure/View/MeasureView.swift
Labels: ✨ Feat, ☝🏻 iL

#54 [FEAT] 자잘한 부분 수정했씁니다
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/dropDown.imageset/Contents.json
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/dropDown.imageset/dropDown.pdf
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/dropUp.imageset/Contents.json
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/dropUp.imageset/dropUp.pdf
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/info.imageset/Contents.json
  Pision/Pision/Resource/Assets/Assets.xcassets/Image/info.imageset/info.pdf
  Pision/Pision/Source/Core/Data/Enum/Enum + Tab.swift
  Pision/Pision/Source/Feature/Analyze/AnalyzeView.swift
  Pision/Pision/Source/Feature/Analyze/AnalyzeViewModel.swift
  Pision/Pision/Source/Feature/Analyze/View/AnalyzeView.swift
  Pision/Pision/Source/Feature/History/CalendarView.swift
  Pision/Pision/Source/Feature/History/CustomTabBar/MainTabView.swift
  Pision/Pision/Source/Feature/History/FixedOverListView.swift
  Pision/Pision/Source/Feature/History/HistoryRowView.swift
  Pision/Pision/Source/Feature/History/HistoryView.swift
  Pision/Pision/Source/Feature/Main/MainView.swift
  Pision/Pision/Source/Utilities/Components/TabBar/CustomTabBar.swift
  Pision/Pision/Source/Utilities/Components/TabBar/CustomTabBarShape.swift
Labels: ✨ Feat, ☝🏻 iL

#57 [FIX] 이미지 깨짐, 네비 문제 수정
  Pision/Pision.xcodeproj/project.pbxproj
  Pision/Pision/Source/Feature/Guiding/Components/GuidingPoseCaptionView.swift
  Pision/Pision/Source/Utilities/Components/TabBar/CustomTabBar.swift
Labels: 🐛 Fix, ☝🏻 iL

#60 [FEAT] 순간 포착 세상에 이런 졸음이 기능 구현
  Pision/Pision/Source/Core/Data/Model/TaskDataModel.swift
  Pision/Pision/Source/Core/Data/SwiftDataModel/TaskData.swift
  Pision/Pision/Source/Feature/Analyze/MockTaskData.swift
  Pision/Pision/Source/Feature/Analyze/View/AnalyzeView.swift
  Pision/Pision/Source/Feature/Analyze/View/AuxScoreView.swift
  Pision/Pision/Source/Feature/Analyze/View/CoreScoreView.swift
  Pision/Pision/Source/Feature/Analyze/View/FocusTimeOverviewView.swift
  Pision/Pision/Source/Feature/Analyze/View/HourlyFocusChartView.swift
  Pision/Pision/Source/Feature/History/HistoryRowView.swift
  Pision/Pision/Source/Feature/History/HistoryView.swift
  Pision/Pision/Source/Feature/Measure/ViewModel/MeasureViewModel.swift
  Pision/Pision/Source/Utilities/Manager/CameraManager.swift
  Pision/Pision/Source/Utilities/Manager/SwiftDataManager.swift
  Pision/Pision/Source/Utilities/Manager/VisionManager.swift
Labels: ✨ Feat, ☝🏻 iL

#77 HomeView에서 기록 조회 가능
  Pision/Pision/Source/Feature/Home/HomeRowView.swift
  Pision/Pision/Source/Feature/Home/HomeView.swift
Labels: ✨ Feat, 🐤 Paduck

#79 로딩뷰 뷰만 완성
  Pision/Pision/Source/App/PisionApp.swift
  Pision/Pision/Source/Feature/Analyze/View/AnalyzeView.swift
  Pision/Pision/Source/Feature/Home/LottieView.swift
  Pision/Pision/Source/Feature/Loading/Loading.json
  Pision/Pision/Source/Feature/Loading/LoadingView.swift
Labels: ✨ Feat, 🐤 Paduck

#81 수정완료
  Pision/Pision/Source/Feature/History/FixedOverListView.swift
Labels: 🐛 Fix, 🐤 Paduck
